@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
  font-family: 'Roboto', sans-serif;
}


/* 让背景图片更大，也可调节 background-size */
.big-container {
  min-height: 100%;
  width: 100%;
  border-radius: 8px;
  padding: 3%;
  background-image: url('/static/image/寒鸦素材1.webp');
  background-size: 120vw 120vh; /* 比容器大，方便移动 */
  background-position: 50% 50%;
  background-repeat: no-repeat;
  user-select: none;
  overflow: hidden;
  background-position: 40% 50%;
  /* 不要加 background-position 的 transition */
}

.login-container {
    background-color: rgba(114, 117, 116, 0.38);


    width: 40%;
    height: 40%;
    border-radius: 8px;
    padding: 1% 0 0 1%;



    backdrop-filter: blur(18px) saturate(140%);
    -webkit-backdrop-filter: blur(18px) saturate(140%);
    border: 1.5px solid rgba(255, 255, 255, 0.21);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.14);
    font-family: "WDXL Lubrifont SC", sans-serif;
    color: whitesmoke;
    text-shadow: 0 2px 12px rgba(0,0,0,0.18), 0 1px 1px #333;
}

.login-container h2{
    font-size: 45px;
    font-family: 'Font1' !important;
}

.login-container p{
    margin-top: 2px;
    font-size: 30px;
    
}

#UserName{
    margin-top: 10px;
    font-size: 25px;
}

#PassWord{
    margin-top: 10px;
    font-size: 25px;
}

.input-wrapper {
    margin-top: 25px;
  width: 320px;     /* 控制宽度（也可用百分比） */
  height: 48px;     /* 控制高度 */
  padding: 6px 12px;/* 控制内边距 */
  display: flex;    /* 保证图标、input、按钮横向排列 */
  align-items: center; /* 垂直居中 */
  background: rgba(67, 255, 142, 0);
  border-radius: 8px;
  /* 其它样式根据需求添加 */
}
.input-wrapper input {
    border-radius: 8px;
  flex: 1;
  height: 100%;
  border: none;
  background: transparent;
  color: #000000bc;
  font-size: 1.1rem;
  outline: none;
  margin-left: 8px;
}
.password-toggle-btn {
  background: none;
  border: none;
  color: #cccccc;
  cursor: pointer;
  font-size: 1.2rem;
  margin-left: 10px;
}

.forgot-password{
    margin-top: 20px;
}

.forgot-password a {
  text-decoration: none;     /* 去掉下划线 */
  color: inherit;            /* 继承父元素颜色 */
  background: none;          /* 无背景 */
  outline: none;             /* 去掉点击时的外轮廓 */
  box-shadow: none;          /* 去掉可能的阴影 */
  border: none;              /* 去掉边框 */
}

.login-button{
    margin-top: 15px;
}

.register-link{
    margin-top: 15px;
    
}

.register-link a {
  color: inherit;            /* 继承父元素颜色 */
  background: none;          /* 无背景 */
  outline: none;             /* 去掉点击时的外轮廓 */
  box-shadow: none;          /* 去掉可能的阴影 */
  border: none;              /* 去掉边框 */
}

.cannot-login{
    margin: 15px;
}

.cannot-login a{
  
  color: inherit;            /* 继承父元素颜色 */
  background: none;          /* 无背景 */
  outline: none;             /* 去掉点击时的外轮廓 */
  box-shadow: none;          /* 去掉可能的阴影 */
  border: none;              /* 去掉边框 */
}